
.DS_Store
Thumbs.db
*.log
*.swp
.idea/
.vscode/
*.sublime-workspace

node_modules/
npm-debug.log*
yarn-error.log
pnpm-debug.log
package-lock.json
yarn.lock
pnpm-lock.yaml

__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
instance/
*.db
*.sqlite3


**/docker-compose.override.yml
**/.dockerignore
**/Dockerfile
db_data/


.env
.env.local
.env.development
.env.production
.env.test
.env*.local


build/
dist/
out/
.cache/
.npm/
.npmrc
.eslintcache
coverage/
*.bak


*.log
logs/
flask_session/

/migrations/
